{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="row bg-black">
  <div class="col-md-4">
    <img src="{% static 'images/portfolio.jpeg' %}" class="rounded-image" />
  </div>

  <div class="col-md-8 my-auto p-4">
    <h1 class="letter"><strong>Panagiotis Keramisanos</strong></h1>
    <br>
    <h5 class="bxsk">Development journey</h5>
    <p class="letter">My journey in development began when I first started learning Python, and it was like love at
      first code. Computers have always been a part of my life, and my passion for computer science has been there from
      the start. Over the past two years, I decided to take my interest more seriously, and I couldn't help but get
      addicted to the world of programming and development. It's been an incredible journey, and I can't wait to see
      where it takes me next.</p>

    <br>

    <h5 class="bxsk">Career</h5>
    <p class="letter">I've been working as public sector since 2012, and throughout this journey, I've had the
      opportunity to collaborate with various teams. At times, I've taken on leadership roles, while other times, I've
      followed instructions. Most of the <strong style="color:aqua">Proffesional skills</strong> listed in my skills section have been developed over my 11-year career.
    </p>
    <br>

    <h5 class="bxsk">Education</h5>
    <p class="letter">
      -- 2012-2014 Hellenic Police Academy
    </p>
      <p><strong>Certifications:</strong></p>
    <p class="letter">
      <ul>
        <li><a class="btn btn1" href="https://www.udemy.com/certificate/UC-ec8a2eb9-3041-4a76-baaa-e47357cfb2fc/">Data Structures + Algorithms</a></li>
        <li><a class="btn btn1" href="https://www.coursera.org/account/accomplishments/specialization/certificate/HY64FPAYPCQT">Python Specialization</a></li>
        <li><a class="btn btn1" href="https://www.freecodecamp.org/certification/fcc05b7e22e-f143-4bce-af07-57612878ad10/javascript-algorithms-and-data-structures">JavaScript Algorithms and Data Structures</a></li>
        <li><a class="btn btn1" href="https://www.coursera.org/account/accomplishments/certificate/CLEUXXSK6DLE">AWS: Building Serverless Applications</a></li>
        <li><a class="btn btn1" href="https://www.coursera.org/account/accomplishments/specialization/certificate/M4QX2QPTT9P6">Meta Back-End Developer Specialization</a></li>
        <li><a class="btn btn1" href="https://www.coursera.org/account/accomplishments/specialization/certificate/SB3RK29MB2TT">Meta Database Engineer Specialization</a></li>

      </ul>
    </p>
    <a class="btn btn1 btn-outline-primary s1" style="border-radius: 2em; margin-left:10%" href="https://www.linkedin.com/in/panagiotis-keramisanos-86084726b/details/certifications/" target="_blank">Load all Certifications</a>

    
  </div>
</header>
{% endblock %}