{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Keramisanos Panagiotis portfolio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <script src="{% static 'js/js.js' %}"></script>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>

<body class="text-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
      <a class="navbar-brand fw-bold fst-italic s1" href="{% url 'home' %}">PK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link s1 " href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link s1 " href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link s1 " href="#Personal-Projects">Personal Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link s1 " href="#Contributed-Projects">Contribute Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link s1 " href="#contact">Contact</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a style="text-decoration: none;" href="{% static 'portfolio/cv.pdf' %}" target="_blank"><i class="cv">Download CV</i></a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" style="padding-top: 100px;">
    {% block content %}
    {% endblock %}
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  
</body>

</html>